@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container-gameboy{
    height: 100vh;
    background-color: #2626bd;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameboy{
    position: relative;
    height: 440px;
    width: 280px;
    background-color: #e0d9d9;
    border-radius: 10px 10px 65px;
}

#tela-container{
    position: absolute;
    top: 8%;
    width: 100%;
}

#tela-cinza{

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:#7B9099;
    height: 170px;
    width: 235px;
    border-radius: 10px 10px 30px;

}

#tela-verde{
    z-index: 1;
    margin-top: 7px;
    background-color: #7cca67;
    height: 130px;
    width: 135px;

}

#linha-red, #linha-blue,#legenda{
   position: absolute;
   width: 85%;
   border-top: 2px solid #b1285ada;  
   top: 8px;
}

#linha-blue{
    border-top: 2px solid #1010b4cc; 
    top: 14px; 
}

#legenda{

    z-index: 1;
    top: 8px;
    left: 103px;
    height: 9px;
    width: 86px;
    border-top: 0px;
    background-color:#7B9099;
    text-align: center;
    padding-top: 1px;
    color: white; 

}

#container-bateria{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
    padding-left: 10px;
    gap: 5px;
    
}

#simbolo-bateria{

    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background-color: #850d0d
    
}

#nome-bateria{

    height: 10px;
    width: 10px;
    font-size: 7px;
    color: white;

}
