@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom,#BD4E41,#D4684F,#E88C59);
    
}

#container-gameboy{
    position: relative;
    width: 285px;

}

#topo-gameboy{
    display: flex;
    height: 23px;
    width: 100%;   
    
}

#topo-esquerda,#topo-direita{
    width: 20px;
    background-color:#e0d9d9;
    border-bottom: 2px solid #aca9accc;
    border-radius: 7px 0px 0px 2px;
   
}

#topo-esquerda{
    box-shadow: inset 4px -4px 15px 2px #aca9ac;

}

#topo-meio{
    width: 86%;
    background-color:#dad4d4;
    border:3px solid #beb9b9fd;
    border-top: 0px;
    box-shadow: inset 0px 5px 22px 0px #bfbbbf;
    
}

#topo-direita{
    border-radius: 0px 7px 2px 0px;
    box-shadow: inset -2px 2px 15px 2px #aca9ac;
    
}

#gameboy{
    height: 470px;
    padding-top: 12px;
    background-color: #e0d9d9;
    /*shorthand: topo(esquerda/direita) base(esquerda/direita)*/
    border-radius: 3px 3px 65px 12px;
    border-top: 0px;
    box-shadow: inset 0px -7px 20px -3px #3b3939;
        
}

#tela-container{
    width: 100%;
}

#tela-cinza{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    height: 170px;
    width: 235px;
    background-color:#7B9099;
    border-radius: 10px 10px 30px;
    border: 1px solid #636060;

}

#tela-verde{
    z-index: 1;
    height: 130px;
    width: 140px;
    margin-top: 7px;
    background-color: #7cca67;
    border: 1px solid #726f6f;

}


#tela-verde:hover{
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #82ff5f;
}

#tela-verde:not(:hover){
    transition-property: background-color;
    transition-duration: 0.5s;
}

#linha-red, #linha-blue,#legenda{
    position: absolute;
    width: 85%;
    top: 8px;
    border-top: 2px solid #b1285ada;  
  
}

#linha-blue{
    top: 14px; 
    border-top: 2px solid #1010b4cc; 
}

#legenda{
    z-index: 1;
    height: 9px;
    width: 86px;
    top: 8px;
    left: 103px;
    background-color:#7B9099;
    border-top: 0px;
    text-align: center;
    padding-top: 1px;
    color: white; 

}

#container-bateria{
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 70px;
    width: 100%;
    gap: 5px;
    padding-left: 10px;
    
}

#simbolo-bateria{
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background-color: #850d0d;
    border-radius: 50%;
    
}

#simbolo-bateria:hover{
    background-color: #aa1d1d;
}

#nome-bateria{
    height: 10px;
    width: 10px;
    font-size: 7px;
    color: white;

}

#marcaNintendo{
    padding-left: 24.5px;
    color: #010429;
  
}

strong{
    font-size: 12px;

}

span{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

small{
    font-size: 7px;
    font-style: normal;
    
}

#joystick{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    gap: 25%;
    margin-top: 37px;  
      
}

#direcionais{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #d1cbcb;
    
}

#vertical{
    z-index: 1;
    position: absolute;
    height: 70px;
    width: 25px;
    border-radius: 5px;
    background-color: #141414;
}

#vertical-fundo{
    position: absolute;
    height: 70px;
    width: 25px;
    background-color: #141414;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #585353;
}

#horizontal{
    z-index: 0;
    height: 25px;
    width: 70px;
    background-color: #141414;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #585353;
}

.grid{
    height: 100%;
    background-color: white;
}

#container-botoes{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 90px;
    gap: 10px;
}


#fundo-botoes{
    position: absolute;
    height: 41px;
    width: 93px;
    top: 20px;
    left: -1.5px;
    background-color: #d1cbcb;
    border-radius: 20px;
    transform: rotate(-27deg);
   
}

#botao-A,#botao-B{
    z-index: 1;
    position: absolute;
    height: 35px;
    width: 35px;
    background-color: #D93B75;
    border-radius: 50%;
    margin-left: 5px;
    font-size: 10px;
    box-shadow: 1px 1px 1px #585353;
}

#botap-A:hover,#botao-B:hover{
    background-color:#b32257 ;
}

#botao-A{
    top: 12px;
    left: 45px;
}

#botao-B{
    top: 35px;
}

#letra-A,#letra-B{
    position: absolute;
    font-weight: bold;
    font-size: 10px;
    font-family: 'Audiowide', cursive;
    color: #010429;
    margin-left: 5px;
    transform: rotate(-30deg);
}

#letra-A{
    top: 48px;
    left: 70px;
   
}
  
#letra-B{
    top: 72px;
    left: 25px;
}

#container-select-start{
    position: relative;
    display: flex;
    margin: auto;
    height: 80px;
    width: 130px;
    gap: 15px;
    padding-top: 25px;
 }

#botao-select,#botao-start{
    height: 10.5px;
    width: 45px;
    background-color: #b3abab;
    border-radius: 20px;
    transform: rotate(-27deg);
    box-shadow: 1px 1px 1px #585353;

}

#botao-select:hover,#botao-start:hover{
    background-color: #888383;

}

#legenda-select,#legenda-start{
    position: absolute;
    font-family: 'Audiowide', cursive;
    font-size: 10px;
    transform: rotate(-27deg);
}

#legenda-select{
    top: 36px;
    left: 8px;   

}

#legenda-start{
    top: 36px;
    left: 72px;

}

#saida-som{
    display: flex;
    position: absolute;
    height: 130px;
    width: 120px;
    top: 7%;
    left: 70%;
  
}

#som01,#som02,#som03,#som04,#som05,#som06{
    position: absolute;
    height: 5px;
    width: 50px;
    background-color: #bfbbbf8f;
    border-radius: 20px;
    transform: rotate(63deg);
    
}

#som01{
    top: 60%;
}

#som02{
    top:54%;
    left: 12%

}

#som03{
    top: 48%;
    left: 23%;
}

#som04{
    top: 40%;
    left: 35%;
}

#som05{
    top: 33%;
    left: 46%;
}

#som06{
    top: 25%;
    left: 57%;
}