@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fundo{
    height: 100vh;
    background-color: #4a4acc;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-gameboy{
    position: relative;
    width: 285px;
}

#topo-gameboy{
    display: flex;
    width: 100%;
    height: 23px;
}

#topo-esquerda,#topo-direita{

    border-bottom: 3px solid #d3caca;
    border-radius: 7px 0px 0px 3px;
    width: 20px;
    background-color:#e0d9d9;

}

#topo-meio{
    
    border:3px solid #d3caca;
    border-top: 0px;
    background-color:#e0d9d9;
    width: 86%;
}

#topo-direita{
    border-radius: 0px 7px 3px 0px;
}

#gameboy{

    padding-top: 12px;
    height: 470px;
    background-color: #e0d9d9;
    /*shorthand: topo(esquerda/direita) base(esquerda/direita)*/
    border-radius: 3px 3px 65px 12px;
}

#tela-container{
    width: 100%;
}

#tela-cinza{

    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:#7B9099;
    height: 170px;
    width: 235px;
    border-radius: 10px 10px 30px;

}

#tela-verde{
    z-index: 1;
    margin-top: 7px;
    background-color: #7cca67;
    height: 130px;
    width: 140px;

}


#tela-verde:hover{
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #82ff5f;
}

#tela-verde:not(:hover){
    transition-property: background-color;
    transition-duration: 0.5s;
}

#linha-red, #linha-blue,#legenda{
   position: absolute;
   width: 85%;
   border-top: 2px solid #b1285ada;  
   top: 8px;
}

#linha-blue{
    border-top: 2px solid #1010b4cc; 
    top: 14px; 
}

#legenda{

    z-index: 1;
    top: 8px;
    left: 103px;
    height: 9px;
    width: 86px;
    border-top: 0px;
    background-color:#7B9099;
    text-align: center;
    padding-top: 1px;
    color: white; 

}

#container-bateria{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 100%;
    padding-left: 10px;
    gap: 5px;
    
}

#simbolo-bateria{

    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background-color: #850d0d;
    
}

#simbolo-bateria:hover{
    background-color: #aa1d1d;
}

#nome-bateria{

    height: 10px;
    width: 10px;
    font-size: 7px;
    color: white;

}

#marcaNintendo{
  
    color: #010429;
    padding-left: 24.5px;
}

strong{
    font-size: 12px;
}

span{
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

small{
    font-style: normal;
    font-size: 7px;
}

#joystick{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25%;
    margin-top: 37px;  
      
}

#direcionais{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #d1cbcb;
    
}

#vertical{
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    height: 70px;
    width: 25px;
    background-color: #141414;
}

#vertical-fundo{
    position: absolute;
    border-radius: 5px;
    height: 70px;
    width: 25px;
    background-color: #141414;
    box-shadow: 1px 1px 1px #585353;
}

#horizontal{
    
    z-index: 0;
    border-radius: 5px;
    height: 25px;
    width: 70px;
    background-color: #141414;
    box-shadow: 1px 1px 1px #585353;
}

.grid{
    background-color: white;
    height: 100%;
}

#container-botoes{
    position: relative;
    gap: 10px;
    width: 90px;
    height: 100%;
    overflow: hidden;
}


#fundo-botoes{
    background-color: #d1cbcb;
    position: absolute;
    left: -1.5px;
    top: 20px;
    height: 41px;
    width: 93px;
    transform: rotate(-27deg);
    border-radius: 20px;
   
}

#btA,#btB{
    position: absolute;
    border-radius: 50%;
    background-color: #D93B75;
    height: 35px;
    width: 35px;
    z-index: 1;
    font-size: 10px;
    margin-left: 5px;
    box-shadow: 1px 1px 1px #585353;
}

#btA:hover,#btB:hover{
    background-color:#b32257 ;
}

#btA{
  top: 12px;
  left: 45px;
}

#btB{
   top: 35px;
}

#letra-A,#letra-B{
    position: absolute;
    color: #010429;
    font-size: 10px;
    transform: rotate(-30deg);
    font-family: 'Audiowide', cursive;
    font-weight: bold;
    margin-left: 5px;
}

#letra-A{
    top: 48px;
    left: 70px;
   
}
  
#letra-B{
    top: 72px;
    left: 25px;
}

#container-select-start{
    position: relative;
    margin: auto;
    display: flex;
    padding-top: 25px;
    gap: 30px;
    height: 80px;
    width: 130px;
 }

#botao-select,#botao-start{
 
    background-color: #b3abab;
    border-radius: 20px;
    height: 10.5px;
    width: 45px;
    transform: rotate(-27deg);
    box-shadow: 1px 1px 1px #585353;

}

#botao-select:hover,#botao-start:hover{
    background-color: #888383;
}

#legenda-select,#legenda-start{
    position: absolute;
    transform: rotate(-27deg);
    font-family: 'Audiowide', cursive;
    font-size: 10px;
}

#legenda-select{
  top: 36px;
  left: 8px;   

}

#legenda-start{
  top: 36px;
  left: 85px;

}